.Plan-div {
  border: 2px solid rgba(255, 228, 146, 1);
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-direction: column;
}


.Plan-div h5 {
  font-weight: lighter;
}

.Plan-div p {
  font-weight: lighter;
  text-align: start;
}

.planbtn {
  font-weight: lighter;
  border: 2px solid rgba(255, 228, 146, 1);
  border-radius: 5px;
}

.PlanIcon {
  padding: 0px 10px 0px 0px;
}

.P_IconP-div {
  display: flex;
}

@media only screen and (max-width: 690px) {
  .Plan-div {
    width: 300px;
    height: 500px;
    padding: 20px;
  }

  .Plan-div h2 {
    font-size: 30px;
  }

  .Plan-div h4 {
    font-size: 20px;
  }

  .Plan-div h5 {
    font-size: 17px;
  }

  .Plan-div p {
    font-size: 17px;
  }

  .planbtn {
    font-size: 17px;
    width: 150px;
    height: 40px;

  }

}

@media only screen and (min-width: 690px) {
  .Plan-div {
    width: 300px;
    height: 500px;
    padding: 30px;
  }

  .Plan-div h2 {
    font-size: 30px;
  }

  .Plan-div h4 {
    font-size: 20px;
  }

  .Plan-div h5 {
    font-size: 17px;
  }

  .Plan-div p {
    font-size: 17px;
    white-space: normal;
  }

  .planbtn {
    font-size: 17px;
    width: 150px;
    height: 40px;

  }
}

@media only screen and (min-width: 992px) {
  .Plan-div {
    width: 300px;
    height: 500px;
    padding: 30px;
  }

  .Plan-div h2 {
    font-size: 30px;
  }

  .Plan-div h4 {
    font-size: 20px;
  }

  .Plan-div h5 {
    font-size: 17px;
  }

  .Plan-div p {
    font-size: 17px;
    white-space: normal;
  }

  .planbtn {
    font-size: 17px;
    width: 150px;
    height: 40px;

  }
}

@media only screen and (min-width: 1200px) {
  .Plan-div {
    width: 330px;
    height: 500px;
    padding: 30px;

  }

  .Plan-div h2 {
    font-size: 30px;
  }

  .Plan-div h4 {
    font-size: 20px;
  }

  .Plan-div h5 {
    font-size: 17px;
  }

  .Plan-div p {
    font-size: 17px;
    white-space: normal;
  }

  .planbtn {
    font-size: 17px;
    width: 150px;
    height: 40px;

  }


}